{% extends 'base.html' %}
{% block content %}
<center><h2>{{ site_title }}</h2></center>

<form action="" method="post" name="register">
	{% if error %}
		<p style="color:red;">{{ error }}</p>
	{% endif %}
    {{ form.hidden_tag() }}
    {{ form.nickname.label }}: {{ form.nickname }}
    <br>
    {{ form.email.label }}: {{ form.email(placeholder='yourname@email.com') }}
    <br>
    {{ form.password.label }}: {{ form.password }}
    <br>
    <p><input type="submit" value="Register"></p>
    {{ form.csrf_token }}
</form>
{% endblock %}